@model IEnumerable<VnExpress_NgoThanhThai_Lab1.Models.Book>

@{
    ViewBag.Title = "ListBookModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sach book</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table cellpadding="10" border="1">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Image Cover
            </th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            <img src="@item.ImagCover" width="95" title="cover" />
        </td>
        <td>
            <a href="/Book/EditBook/@item.Id" title="Edit Book">Edit</a>
        </td>
        <td>
            <a href="/Book/DeleteBook/@item.Id" title="Delete Book">Delete</a>
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
}

</table>
